<div class="product-card" onclick="moveToDetailProduct('<%= product._id%> ')">
  <img
    src="/images/products/<%= product.category %>/<%= product.imgName %>"
    alt=""
  />
  <p class="product-name"><%= product.name %></p>
  <p class="product-price"><%= product.price %></p>
</div>
